/** CSS STYLE **/

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf") format("truetype");
}

:root {
  --h1: 72px;
  --h2: 60px;
  --h3: 34px;
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #FE8A02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px/1.6em "Open Sans", sans-serif;
  color: var(--dark);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-family: "Neucha", serif;
  line-height: 1.2em;
  color: var(--main);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

.container {
  position: relative;
  width: 1110px;
  padding: 100px 0;
}

/* (1st) HEADER SECTION */

.header-section {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--light);
}

.title {
  position: relative;
  z-index: 1;
}

.bg-img::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.1;
}

.header-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.columns {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding-top: 165px;
}

.column-left {
  flex: 1 1 540px;
}

.column-right {
  flex: 1 1 540px;
}

.btn-link {
  display: block;
  width: max-content;
  padding: 12px 24px;
  margin-top: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  background-color: var(--main);
}

/* (2nd) VIDEO SECTION */

.video-section {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.video-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  align-items: center;
  text-align: center;
}

.video-title {
  margin-bottom: 30px;
}

.video-description {
  margin: 0 0 30px;
}

/* (3rd) NAVIGATION */

#navigation {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: -100px;
  background-color: var(--main-dark);
}

.nav-container {
  padding: 200px 0 100px;
}

.col-3 {
  display: flex;
  column-gap: 30px;
}

.nav-title {
  font-size: 52px;
}

.nav-link {
  color: var(--dark);
  text-decoration: none;
}

.nav-item {
  height: 100%;
  width: 350px;
  padding: 24px;
  background-color: var(--light);
}

.card-number {
  display: block;
  margin-bottom: 40px;
  font-size: 64px;
  font-family: "Neucha", serif;
  line-height: 1;
}

.nav-item:hover {
  color: var(--white);
  background-color: var(--main);
}

.nav-item:hover > h3 {
  color: var(--white);
}

/* (4th) IKEA EFFECT */

#ikea-effect {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--light);
}

.top-cols {
  display: flex;
  column-gap: 30px;
  font-family: "Neucha", serif;
  line-height: 1.2;
  
}

.top-col-img {
  vertical-align: middle;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.15);
}

.top-col-subtitle {
  font-size: 24px;
  color: var(--translucent-dark);
}

.top-col-title {
  font-size: var(--h2);
}

.top-col-text {
  font-size: var(--h3);
}

.bottom-col-title {
  margin: 100px 0 20px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--brown);
}

.bottom-col-text {
  display: flex;
  column-gap: 30px;
}

.bottom-col-text p {
  margin: 0;
  flex-shrink: 1;
  flex-basis: 540px;
}

/* (5th) PREMATURE OPTIMIZATION */

#premature-optimization {
  position: relative;
  display: flex;
  justify-content: center;
  
}

.bg-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

/* (6th) DISTORTION OF NOVELTY */

#distortion-of-novelty {
  position: relative;
  display: flex;
  justify-content: center;
}

/* (7th) HYPERBOLIC DEPRECIATION */

#hyperbolic-depreciation {
  position: relative;
  display: flex;
  justify-content: center;
}

/* (8th) ERRORS IN PLANNING */

#errors-in-planning {
  position: relative;
  display: flex;
  justify-content: center;
}

/* (9th) FOOTER */

.footer {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 55px;
  background-color: var(--main-dark);
}

.input-button {
  display: flex;
}

.label-email {
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
  line-height: 1.6;
}

.email-input {
  width: 415px;
  height: 50px;
  padding: 15px;
  border: 0;
  display: inline-block;
}

.email-input::placeholder {
  font: 13.1px/1.6 "Open Sans", sans-serif;
  font-size: 13.1px;
  color: #757575;
  opacity: 0.2;
}

.form-button {
  position: relative;
  height: 50px;
  width: 70px;
  padding: 0;
  border: 0;
  background-color: var(--main);
}

.form-button::before {
  position: absolute;
  top: 13px;
  right: 23px;
  display: block;
  width: 24px;
  height: 24px; 
  background-image: url("../img/send.svg");
  content: "";
}

.service-rules {
  font-size: 12px;
  line-height: 1.6;
}

.contact-info {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
}

.contact-info p {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* REUSED STYLES */

.mb-20 {
  margin: 0 0 20px;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.dark {
  color: var(--dark);
}

.orange {
  color: var(--main);
}

.white {
  color: var(--white);
}

.translucent-white {
  color: var(--translucent-white);
}

.brown {
  color: var(--brown);
}

.blue {
  color: var(--blue);
}
