/** CSS STYLE **/

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf") format("truetype");
}

:root {
  --h1: 72px;
  --h2: 60px;
  --h3: 34px;
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #FE8A02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px/1.6em "Open Sans", sans-serif;
  color: var(--dark);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-family: "Neucha", serif;
  line-height: 1.2em;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.container {
  position: relative;
  width: 1110px;
  padding: 100px 0;
}

/* (1st) HEADER SECTION */

.header-section {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--light);
}

.title {
  position: relative;
  z-index: 1;
}

.bg-img::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.1;
}

.orange {
  color: var(--main);
}

.header-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.columns {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding-top: 165px;
}

.column-left {
  flex: 1 1 540px;
}

.column-right {
  flex: 1 1 540px;
}

.btn-link {
  display: block;
  width: max-content;
  padding: 12px 24px;
  margin-top: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--main);
}

/* (2nd) VIDEO SECTION */

.video-section {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.video-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  align-items: center;
  text-align: center;
}

.video-title {
  margin-bottom: 30px;
}

.video-description {
  margin: 0 0 30px;
}

/* (3rd) NAVIGATION */

#navigation {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: -100px;
  background-color: var(--main-dark);
}

.nav-container {
  padding: 200px 0 100px;
}

.col-3 {
  display: flex;
  column-gap: 30px;
}

.mb-20 {
  margin: 0 0 20px;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.nav-title {
  font-size: 52px;
  color: var(--white);
}

.nav-link {
  color: var(--dark);
}

.nav-item {
  height: 100%;
  width: 350px;
  padding: 24px;
  background-color: var(--light);
}

.card-number {
  display: block;
  margin-bottom: 40px;
  font-size: 64px;
  font-family: "Neucha", serif;
  line-height: 1;
}

.nav-item:hover {
  color: var(--white);
  background-color: var(--main);
}

.nav-item:hover > h3 {
  color: var(--white);
}

/* (4th) IKEA EFFECT */

#ikea-effect {
  display: flex;
  justify-content: center;
}

/* (5th) PREMATURE OPTIMIZATION */

#premature-optimization {
  display: flex;
  justify-content: center;
}

/* (6th) DISTORTION OF NOVELTY */

#distortion-of-novelty {
  display: flex;
  justify-content: center;
}

/* (7th) HYPERBOLIC DEPRECIATION */

#hyperbolic-depreciation {
  display: flex;
  justify-content: center;
}

/* (8th) ERRORS IN PLANNING */

#errors-in-planning {
  display: flex;
  justify-content: center;
}

/* (9th) FOOTER */

.footer {
  display: flex;
  justify-content: center;
}
